# Chat targets (OpenAI refers to the API format, not the company)
# API Key can be left empty if endpoint is Azure OpenAI, you will receive an interactive browser auth prompt
OPENAI_CHAT_MODEL_NAME=""
OPENAI_CHAT_ENDPOINT=""
OPENAI_CHAT_KEY=""

# Flask settings
FLASK_HOST=127.0.0.1
FLASK_PORT=5001
FLASK_DEBUG=false